<project name="Manual" default="process" basedir=".">

  <property name="build.dir" value="build"/>
  <property name="pdf.name"  value="HornetQ_UserManual.pdf"/>
  <import file="${basedir}/support.xml"/>

  <target name="process">
    <docant sourceDirectory="src/main/Installation_And_Getting_Started_Guide" 
            sourceDocumentName="Installation_And_Getting_Started_Guide.xml"
            baseOutputDirectory="target">

<format name="html_single" 
stylesheetResource="classpath:/xslt/org/jboss/xhtml-single.xsl"
targetFinalName="index.html"/>

<!--

<format name="html" 
stylesheetResource="classpath:/xslt/org/jboss/xhtml.xsl"
targetFinalName="index.html"/>


<format name="pdf" 
stylesheetResource="classpath:/xslt/org/jboss/pdf.xsl"
targetFinalName="Installation_And_Getting_Started_Guide.pdf"/>
-->

    </docant>
  </target>

</project>
